@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lobster&family=PT+Sans&family=Spartan:wght@300&display=swap');


.formContainer {
   
     margin-top: 15em; 
    padding: 1.3em 3em;
    font-size: 8px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 800;
    color: #000;
    background-color:#d9d9d9;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; 
    cursor: pointer;
    outline: none;   
}

.divInt{
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-family: 'Spartan', sans-serif;
    font-size: 8px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 800;
}

.buttons{
  font-size: 17px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  background-color: #d1575d;
}

.buttons:hover{
    background-color: #891330;
}


.formContainer:active {
    /* transform: translateY(-1px); */
}

.title{
    /* text-transform: uppercase;
    text-align: center;
    font-weight: 900; */
}

.terminos{
    /* text-align: center; */
}

.titles{
    /* font-weight: 1000; */

}

.div{
    /* text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    font-size: 8px; */

}

.div:active{
    transform: translateY(-1px);
}

