.containerNavbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  text-decoration: none;
  color: white;
}

.containerNavbarImg img {
  width: 80px;
  border-radius: 80px;
  padding: 25px;
}
