.containerModify {
  padding: 25px;
  margin: 50px;
  /* border: 1px solid hotpink; */
  background-color: #d9d9d9;
  border-radius: 2rem;
  box-shadow: 9px 14px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

.containerButton {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.danger {
  font-size: 0.8rem;
  color: rgb(206, 34, 34);
}

.containerModify button {
  padding: 5px 10px;
  /* text-decoration-line: none; */
  font-size: 17px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  background-color: #d1575d;
}

.containerModify button:hover {
  background-color: #891330;
}

.containerModify label,
input,
select {
  font-size: 14px;
  text-align: -webkit-auto;
  margin: 1.5px;
}

.containerModify input,
select {
  padding: 5px;
  width: 130px;
  border-radius: 13px;
}

.containerCheckBox input {
  width: auto;
}

.containerDataSection {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1px 10px;
}

.containerDataSection div {
  display: flex;
}

@media (max-width: 750px) {
  .containerDataSection {
    flex-direction: column;
  }
}

.containerModify form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 0px;
  gap: 7px;
}

@media (max-width: 750px) {
  .containerModify {
    flex-direction: column;
    width: max-content;
  }
}

.modal {
  background-color: rgba(27, 26, 26, 0.295);
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 100;
  align-items: center;
  justify-content: center;
}

.modalOpen {
  display: flex;
}

.containerModifydiv {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}

.containerSection {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: flex-start;
  font-weight: bold;
}

@media (max-width: 750px) {
  .containerSection {
    flex-direction: column;
  }
}

.containerData {
  display: flex;
  flex-wrap: wrap;
}

.container {
  padding: 8px 30px;
  border: 1 solid black;
  display: flex;
  flex-wrap: wrap;
  border: solid 1px azure;
  border-radius: 1rem;
  width: -webkit-fill-available;
  gap: 8px;
}

@media (max-width: 750px) {
  .container {
    flex-direction: column;
    width: max-content;
  }
}

.containerCheckBox {
  padding: 7px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: solid 1px azure;
  border-radius: 1rem;
  width: -webkit-fill-available;
  align-content: flex-start;
  gap: 4px;
}
