.containerFormModify {
  flex-grow: 1;
  overflow: auto;
}

.containerModify {
  padding: 25px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  /*   position: relative; */
  height: 100vh;
}

.containerButton {
  display: flex;
  justify-content: space-between;
  padding: 13px 13px 0 13px;
}

.danger {
  font-size: 0.8rem;
  color: rgb(206, 34, 34);
}

.containerModify button {
  padding: 5px 10px;
  /* text-decoration-line: none; */
  font-size: 17px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  background-color: #d1575d;
}

.containerModify button:hover {
  background-color: #891330;
}

.containerModify span:hover {
  color: grey;
}

.containerModify label,
input,
select {
  font-size: 14px;
  text-align: -webkit-auto;
  margin: 1.5px;
  height: fit-content;
  width: fit-content;
}

.containerModify input,
select {
  padding: 5px;
  width: 130px;
  border-radius: 13px;
}

.containerCheckBox input {
  width: auto;
}

.containerDataSection {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1px 10px;
}

.containerDataSection div {
  display: flex;
}

@media (max-width: 750px) {
  .containerDataSection {
    flex-direction: column;
  }
}

.containerModify form {
  display: flex;
  /* position: absolute; */
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 0px;
  gap: 7px;
}

@media (max-width: 750px) {
  .containerModify {
    flex-direction: column;
  }
}

.modal {
  background-color: rgba(27, 26, 26, 0.295);
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 100;
  align-items: center;
  justify-content: center;
}

.modalOpen {
  display: flex;
}

.containerModifydiv {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}

.containerSection {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: flex-start;
  font-weight: bold;
}

@media (max-width: 750px) {
  .containerSection {
    flex-direction: column;
  }
}

.containerData {
  display: flex;
  flex-wrap: wrap;
}

.container {
  padding: 8px 30px;
  border: 1 solid black;
  display: flex;
  flex-wrap: wrap;
  border: solid 1px azure;
  border-radius: 1rem;
  width: -webkit-fill-available;
  justify-content: space-between;
  margin: 17px;
}

.formCol {
  display: flex;
  flex-direction: column;
}

.formRow {
  display: flex;
}

.formRow > label {
  width: 50px;
}

@media (max-width: 750px) {
  .container {
    flex-direction: column;
  }
}

.containerCheckBox {
  padding: 7px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: solid 1px azure;
  border-radius: 1rem;
  width: -webkit-fill-available;
  align-content: flex-start;
  gap: 4px;
  margin: 17px;
}

.containerSub {
  text-decoration: underline;
  color: magenta;
  padding: 5px 10px;

  cursor: pointer;
}

.containerImagen {
  display: flex;
  flex-direction: column;
  position: relative;
}

.containerButtonImagen {
  position: absolute;
  z-index: 1;

  left: 27px;
  font-size: 9px;
  padding: 3px 5px;
  font-size: 10px;
  padding: 5px;
  font-weight: 600;
}

.containerImg {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  position: relative;
}

.containerSchedule {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
  align-content: center;
  justify-content: center;
}

.containerInput {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.containerForm2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  background-color: #d9d9d9;
  border-radius: 2rem;
  box-shadow: 9px 14px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.19);
  margin: 1rem;
  padding: 1rem;
}
