.containerHome {
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 0px;
  flex-grow: 1;
}

.containerSearchBar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 30px;
}

.containterTable {
  flex-grow: 1;
  overflow: auto;
}
