.btnGost {
  background: transparent;
  outline: none;
  box-shadow: none;
  color: white;
  padding: 14px 9px
}

.btnGost:hover {
  background: transparent;
  color: magenta;
  text-decoration: underline;
}

.containerGeneral {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-bottom: 15px;
}

h3 {
  margin: 0px;
}





button:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}

